<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertWater">
INSERT 
	INTO WATER
	VALUES
		(
		SEQ_WNO.NEXTVAL
	   , ?
	   , ?
	   )
</entry>

<entry key="selectWater">
SELECT
    WATER_NO
  , BRAND
  , PRICE
 FROM WATER
</entry>

<entry key="updateWater">
UPDATE
	WATER
SET 
	BRAND = ?
  , PRICE = ?	
WHERE
	WATER_NO = ?
</entry>
</properties>